* {
    margin: 0;
    padding: 0;
}

#services {
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 320px));
    width: 80%;
    grid-gap: 4px;
    margin: 0 auto;
    margin-top: 20px;
    /* background: gray; */
}

#select {

    width: 80%;
    margin: 0 auto;
    position: relative;
    margin-top: 30px;
}

h1,
h4,
p {
    color: #427497;
}

#welcome {
    text-align: center;

}

.loc {
    padding: 5px;
    width: 100%;
}

.locWrapper {
    width: 45%;
}

.area {
    position: absolute;
    right: 0;
}

select,
.locWrapper {
    display: inline-block;
}

option,
select {
    border: 1px solid #427497;
}

.fa {
    font-size: 2.5em;
}

.nav-item .navbar-brand {
    color: white;
}

.nav-item:hover .navbar-brand {
    color: rgb(90, 84, 84);
}

.active .navbar-brand {
    color: rgb(90, 84, 84);
    font-weight: bold;
}

.form-inline .btn {
    color: white;
}